<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Возмущения</title>
</head>
<body>
<div>
    <header style="{display: flex; flex-direction: row;}">
        <a href="/">Параметры</a>
        <a href="/graphic">График</a>
        <a href="/diagrams">Диаграммы</a>
        <a href="/faks">Возмущения</a>
    </header>

    <div>
        <img src="/static/images/figure2.png" id="faks-image">
    </div>
</div>
<script src="/static/js/faksChecker.js"></script>
</body>
</html>